@charset "UTF-8";
::selection {
  color: #fff;
  background: #e72539;
}

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
#wrap {
  min-width: 1800px;
}
header {
  position: relative;
  background: #fff;
}
.menu {
  width: 1280px;
  height: 90px;
  line-height: 90px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.menu ul {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu ul li {
  flex: 1 1 10%;

  text-align: center;
}

.menu ul li a {
  color: #333;
  font-weight: 800;
  position: relative;
}

.menu > ul > li > a::after {
  position: absolute;
  left: 0;
  bottom: -35px;
  width: 100%;
  height: 3px;
  content: "";
  background: #f00;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}
.menu > ul > li:last-child:hover > a::after {
  transform: scaleX(0);
}

.menu ul li a:hover::after,
.menu ul li a.active::after {
  transform: scaleX(1);
}

.menu ul li img {
  width: 100%;
  vertical-align: middle;
}
.menu_right ul {
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu_right ul li > span {
  line-height: 90px;
}
#menu_bar {
  position: relative;
  top: 0;
  left: 0;
  transition: 0.5;
}
.menu_bar01 {
  top: 1000px;
}
#menu_bar span {
  position: relative;
  z-index: 10;
  display: block;
  width: 35px;
  height: 5px;
  background: #333;
  margin: 6px 0;
  transition: transform 0.2s ease-in;
}
.bar1 {
  transform: translate(0, 11px) rotate(45deg);
}
.bar2 {
  opacity: 0;
}
.bar3 {
  transform: translate(0, -11px) rotate(-45deg);
}

.side_info {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: -2000px;
  background: #fff;
  transition: 0.5s ease-in-out;
  z-index: 9;
}

.box {
  top: 0;
}
.side_info > div:first-of-type {
  margin-top: 100px;
}
.side_info > div {
  margin: 50px;
}
.side_info_boxbar {
  position: relative;
  color: #333;
  font-size: 36px;
  font-weight: 800;
}
.side_info_boxbar > span {
  position: absolute;
  left: 160px;
  top: 15px;
  width: 25px;
  height: 5px;
  background: #333;
  margin: 6px 0;
  transition: transform 0.2s ease-in;
}
.side_info_boxbar:hover span:first-child {
  transform: rotate(90deg);
}
.side_info_boxmenu {
  display: none;
}
.side_info > div:hover .side_info_boxmenu {
  display: block;
}
.side_info_meun {
  width: 900px;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  line-height: 30px;
}
.side_info_meun ul {
  display: flex;
  flex-direction: column;
}
.side_info_meun ul li {
  width: 100%;
}
.side_info_meun ul li > span {
  font-size: 18px;
  font-weight: 800;
}

.side_info_meun ul li a {
  color: #333;
}
.side_info_meun ul li:hover a {
  color: #f00;
  font-weight: 800;
}

.headbg {
  width: 100%;
  height: 800px;
  position: absolute;
  left: 0;
  top: 0;

  margin: 0 auto;
  z-index: -3;
  animation: sidebg 20s infinite linear both;
}
@keyframes sidebg {
  0% {
    background: url(../images/cover_img1.jpg) center/cover no-repeat;
  }

  25% {
    background: url(../images/cover_img2.jpg) center/cover no-repeat;
  }

  50% {
    background: url(../images/cover_img3.jpg) center/cover no-repeat;
  }

  100% {
    background: url(../images/cover_img4.jpg) center/cover no-repeat;
  }
}

.headbg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.submenu {
  position: absolute;
  width: 100%;
  height: 0;
  margin: 0 auto;
  left: -10px;
  top: 90px;
  background: rgba(255, 255, 255, 0.4);
  overflow: hidden;
  transition: height 0.5s;
  z-index: 1;
}

.submenu .lnb {
  width: 900px;
  margin: 0 auto;
  display: flex;
  padding: 30px 0;
}

.submenu .lnb ul {
  display: flex;
  flex-direction: column;
}
.submenu .lnb ul li {
  width: 128px;
  display: flex;
  line-height: 30px;
  font-size: 13px;
  white-space: nowrap;
  text-align: center;
}
.submenu .lnb ul > li > span {
  width: 100%;
  position: relative;
  text-align: center;
  font-size: 14px;
  font-weight: 800;
}
.submenu .lnb ul > li a {
  width: 100%;
  display: inline-block;
  text-align: center;
  color: #333;
  transition: 0.3s ease-in-out;
}
.submenu .lnb ul > li a:hover {
  color: #f00;
  text-decoration: underline;
}
section.mid {
  position: relative;
  top: 800px;
}
.nav_img {
  width: 100%;
  height: 100%;
  position: relative;
  top: -180px;
}
.nav_img ul {
  width: 1280px;
  height: 200px;
  display: flex;
  margin: 0 auto;
}

.nav_img ul li {
  position: relative;
}
.nav_img ul li {
  width: 280px;
  height: 180px;
  overflow: hidden;
}

.nav_img ul li img {
  width: 280px;
  height: 180px;
  object-fit: cover;
  margin-left: 20px;
}
.nav_img_cover {
  width: 280px;
  height: 180px;
  position: absolute;
  left: 20px;
  bottom: -180px;
  background: #000;
  opacity: 0;

  transition: 0.5s;
}

.nav_img ul li p {
  position: absolute;
  left: 55%;
  bottom: 30px;
  transform: translateX(-55%);
  font-size: 30px;
  color: #fff;
  white-space: nowrap;
}

.nav_img ul li:hover .nav_img_cover {
  opacity: 0.5;
  bottom: 0;
}
.nav_img ul li:hover p {
  font-size: 40px;
}

.side_pop_right {
  position: fixed;
  right: 100px;
  bottom: 150px;
}
.side_pop_right a {
  color: #ccc;
}
.side_pop_right a:hover h2 {
  color: #e72539;
}
.side_pop_right a h2 {
  position: relative;
}
.side_pop_right a h2::after {
  content: "";
  position: absolute;
  left: 100px;
  top: 15px;
  width: 70px;
  height: 5px;
  background: #ccc;
}
.side_pop_right a:hover h2::after {
  width: 50px;
  background: #e72539;
}

.side_arrow_posion {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 75px;
  bottom: 30px;
}
.side_arrow {
  width: 50px;
  height: 50px;
  text-align: center;
  background: #e72539;
  font-size: 30px;
  color: #fff;
  line-height: 40px;
}

.main_content {
  width: 1152px;
  margin: 0 auto;
}
.main_content h1 {
  position: relative;
  top: -80px;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.main_content p {
  position: relative;
  top: -50px;
  text-align: center;
  font-size: 20px;
}
.main_content_img ul {
  width: 100%;
  height: 576px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.main_content_img li {
  position: relative;
  width: 288px;
  height: 288px;
}

.main_content_img li a {
  color: #333;
  position: absolute;
  left: 0;
  top: 0;
}
.main_content_img li a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content_write {
  position: relative;
  left: 0;
  top: 0;
  cursor: pointer;
}
.content_write h1 {
  color: #fff;
  position: absolute;
  left: 25px;
  top: 50px;
}
.content_write p {
  color: #fff;
  position: absolute;
  left: 25px;
  top: 300px;
  text-align: left;
  white-space: wrap;
  transition: top 0.5s;
}

.main_content_img li:nth-child(4) .content_write p {
  color: #fff;
  position: absolute;
  left: 25px;
  top: 600px;
  transition: top 0.5s;
}

.main_content_img ul li:nth-child(1):hover .content_write {
  width: 100%;
  height: 100%;
  background: #dd8218d9;
}

.main_content_img li:nth-child(2):hover .content_write {
  width: 100%;
  height: 100%;
  background: #5b85f0d9;
}
.main_content_img li:nth-child(3):hover .content_write {
  width: 100%;
  height: 100%;
  background: #94c112d9;
}
.main_content_img li:nth-child(4):hover .content_write {
  width: 100%;
  height: 576px;
  background: #14a04cd9;
}
.main_content_img li:nth-child(5):hover .content_write {
  width: 100%;
  height: 100%;
  background: #24b5d6d9;
}
.main_content_img li:nth-child(6):hover .content_write {
  width: 100%;
  height: 100%;
  background: #9c27e4d9;
}
.main_content_img li:nth-child(7):hover .content_write {
  width: 100%;
  height: 100%;
  background: #cc1f31d9;
}
.main_content_img li:hover .content_write p {
  top: 120px;
}
.main_content_img li:nth-child(4):hover .content_write p {
  top: 180px;
}

.newsroom h1 {
  position: relative;
  top: 100px;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.newsroom ul {
  width: 40%;
  margin: 0 auto;
  position: relative;
  top: 150px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.newsroom ul li {
  font-size: 24px;
  font-weight: 800;
}
.newsroom ul li:hover {
  color: #e3051b;
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-underline-offset: 10px;
}
.index_news {
  position: relative;
  top: 180px;
  width: 1208px;
  margin: 0 auto;
}
.index_news ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  top: 0;
}
.index_news ul li {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  background: #000;
  margin: 1px;
}
.index_news ul li a > img {
  width: 300px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.newsroom_info {
  position: absolute;
  left: 0;
  top: 350px;
  width: 100%;
  height: 100%;
  background: #e3051b99;
  transition: 0.5s;
}
.newsroom_info p {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.newsroom_sns > img {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.index_news ul li:hover a .newsroom_info {
  top: 0;
}

.stock {
  position: relative;
  width: 100%;
  top: 850px;
  border-top: 1px solid #ccc;
}
.stock > ul {
  width: 1280px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.stock > ul > li {
  width: 300px;
  position: relative;
}

.stock ul > li img {
  width: 16px;
}
.stock > ul > li a {
  display: flex;
  color: #333;
  font-weight: 800;
}
.stock > ul > li a > p {
  margin: 0 5px;
}
.stock > ul > li a > span {
  margin: 0 10px;
  color: #e3051b;
  font-weight: 800;
}
.kakao_channel {
  width: 100%;
  display: flex;
}
.kakao_channel > li:nth-child(2) a {
  color: #e3051b;
  font-weight: 800;
}
.kakao_channel > li a {
  margin: 0 5px;
}
footer {
  width: 100%;
  height: 300px;
  position: relative;
  top: 850px;
  background: #222;
  z-index: 21;
}
footer .foot_group {
  width: 1280px;
  margin: 0 auto;
  padding: 30px;
}
footer .foot_align {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer_left {
  width: 55%;
}
.footer_left img {
  margin: 10px 0;
}

.footer_left ul {
  display: flex;
  margin-bottom: 10px;
}
.footer_left ul li {
  color: #d2d2d2;
  font-size: 14px;
  margin-right: 10px;
}
.footer_left ul li span {
  color: #777;
}

.footer_right {
  width: 45%;
}
.footer_right ul {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}
.footer_right ul a {
  color: #777;
  font-size: 14px;
  margin-left: 20px;
}
.footer_right ul:first-child a {
  font-size: 20px;
  color: #fff;
}
.footer_right ul:nth-child(2) li:nth-child(2) a {
  color: #d2d2d2;
}
.footer_right img {
  width: 16px;
  margin-right: 10px;
}
.footer_bottom {
  width: 100%;
  margin-top: 20px;
  line-height: 32px;
  display: flex;
  justify-content: space-between;
}
.footer_bottom p {
  width: 55%;
  color: #777;
  font-size: 14px;
}

.copy_right {
  display: flex;
}
.copy_right ul {
  display: flex;
}
.copy_right ul li {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}
.copy_right ul li img {
  width: 100%;
  object-fit: cover;
  border: 1px solid #777;
  border-radius: 5px;
  text-align: center;
}
.site {
  height: 0;
}
.sitehome {
  width: 190px;
  border: 1px solid#777;
  position: relative;
  color: #777;
  z-index: 10;
  background: #222;
}
.sitehome p::after {
  content: "▼";
  position: absolute;
  right: 15px;
  top: 0;
  color: #777;
}
.sitehome p.siteactive::after {
  content: "▲";
  opacity: 1;
}

.sitehome P {
  padding: 0 20px;
}
.site_home_list {
  display: none;
  position: relative;
  left: 0;
  top: 0px;
  height: 0px;
  overflow: hidden;
  transition: 0.5s;
}
.siteon {
  display: block;
  top: -580px;
  height: 560px;
}
.site_home_info {
  width: 190px;
  height: 560px;
  display: flex;
}

.site_home_info > ul {
  width: 190px;
  height: 560px;
  display: flex;
  flex-direction: column;
}
.site_home_info > ul > li {
  width: 100%;
  height: 40px;
  border-top: 1px solid #777;
  border-left: 1px solid #777;
  border-right: 1px solid #777;
}
.site_home_info > ul > li:last-child {
  border-bottom: 1px solid #777;
}
.site_home_info > ul > li > a {
  display: inline-block;
  width: 100%;
  line-height: 40px;
  color: #777;
  text-align: center;
  background: #222;
  position: relative;
}

.site_home_info > ul > li:hover > a {
  background: #000;
  color: #d2d2d2;
}
