@charset "UTF-8";

.information2 {
  width: 100%;
  margin: 0 auto;
  background: #594d46;
}
.game_character > p {
  font-size: 17px;
  color: #c4a893;
}
.cookie_kind {
  width: 960px;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.cookie_kind li {
  width: 213px;
  height: 66px;
  line-height: 66px;
  font-size: 18px;
  color: #fff3cd;
  background: url(../images/parentheses3.svg) center/contain no-repeat;
}
.cookie_kind li:hover,
.cookON,
.cookie_kind li.on {
  color: #594d46;
  font-weight: 800;
  background: url(../images/parentheses4.svg) center/contain no-repeat;
  cursor: pointer;
}
.acter_info_position {
  width: 1280px;
  height: 900px;
  position: relative;
  margin: 0 auto;
}
.acter_info {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
}

.game_character_img > li {
  margin-bottom: 20px;
  cursor: pointer;
}
.game_character_img > li img {
  width: 135px;
  height: 135px;
  background: url(../images/characterbg.png) center/cover no-repeat;
}
.cookie_move {
  width: 900px;
  height: 780px;
  text-align: center;
  position: relative;
}
.cookie_move > li {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: url(../images/characterPortraitCard.png) center/contain no-repeat;
}
.cookie_move > li img {
  animation: movetop 5s infinite linear both;
}

@keyframes movetop {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.cookie_group {
  width: 245px;
  height: 780px;
  position: relative;
}
.cookie_style {
  font-size: 20px;
  color: #fff3cd;
}
.cookie_name {
  font-size: 32px;
  color: #fff3cd;
  white-space: no-wrap;
}
.cookie_sound {
  font-size: 20px;
  color: #fff3cd;
}

.cookie_info {
  width: 100%;
  height: 100%;
  position: relative;
}
.cookie_info li {
  position: absolute;
}

.cookie_info > li img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.cookie_info > li p {
  margin: 10px 0;
}
.cookie_info > li p:last-child {
  color: #c4a893;
  font-size: 18px;
}

.cooki_arrow {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.cooki_arrow img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.cooki_arrow img:last-child {
  transform: scaleY(-1);
}
