@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #2d2d2d;
}
body {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}
.top {
  width: 100%;
  min-width: 1280px;
}
.top .topmenu {
  width: 1280px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top .topmenu ul {
  display: flex;
  align-items: center;
  margin-left: -20px;
}
.top .topmenu ul.left li:first-child {
  margin-top: 30px;
}
.top .topmenu ul.right {
  margin-top: 20px;
  height: 50px;
}
.top .topmenu ul li {
  margin-left: 20px;
}
.right li:first-child {
  position: relative;
}
.search {
  display: flex;
  border-bottom: 2px solid #2d2d2d;
}
:focus {
  outline: none;
}
.search img {
  vertical-align: middle;
}
.top input {
  width: 180px;
  border: none;
  padding: 5px;
  background: none;
}
.top select {
  padding: 5px 10px;
  font-size: 16px;
  color: #2d2d2d;
}
.top ul.left .logo {
  position: relative;
}
.top .right select {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
nav {
  position: relative;
  z-index: 999;
}
nav > ul {
  display: flex;
  justify-content: space-between;
  width: 1280px;
  margin: 0 auto;
  z-index: 999;
}
nav > ul > li {
  position: relative;
  width: calc(100% / 7);
  margin-left: 50px;
  line-height: 35px;
}
nav ul.sub {
  font-size: 14px;
  line-height: 30px;
}
nav ul.sub a {
  color: rgb(131, 131, 131);
}
nav > ul > li > a {
  display: block;
  font-weight: 500;
  font-size: 19px;
  line-height: 60px;
  width: 100%;
}
nav > ul > li > ul > li a:hover {
  font-weight: 800;
}

nav > ul > li:hover > a {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
}
nav > ul > li > ul {
  position: absolute;
  margin-top: 16px;
  z-index: 1;
  height: 0;
  overflow: hidden;
  top: 50px;
  width: 100%;
  transition: height 0.5s;
}
nav:hover > ul > li > ul {
  height: 410px;
}
nav > ul > li a span {
  font-size: 13px;
  letter-spacing: -1px;
  color: rgb(131, 131, 131);
}
nav .bg {
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  height: 0;
  background: #fff;
  transition: height 0.5s;
}
nav:hover .bg {
  width: 100%;
  height: 410px;
  border-bottom: 1px solid #ccc;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
.swiper-button-prev {
  z-index: 10;
}
.newice {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.newice .news {
  width: 650px;
}
.newice .box {
  display: flex;
  height: 180px;
}
.newice .title {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 20px;
}
.newice .title a {
  color: #757575;
}
.newice .news .box {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
.newice .news .box .picture {
  width: 250px;
  height: 150px;
  flex-shrink: 0;
  background: url(../images/news.jpg) center/cover;
  margin-right: 30px;
}
.newice .news .box .leftright {
  justify-content: space-between;
  width: 380px;
  height: 150px;
}
.newice .news .box .boxright h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.4em;
}
.newice .news .box .boxright p.top2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.6em;
  margin-top: 15px;
}
.newice .news .box .boxright p span {
  font-size: 14px;
  color: #757575;
}
.newice .news .newslist ul li {
  width: 100%;
  /* border: 1px solid #ccc; */
  display: flex;
  justify-content: space-between;
}
.newice .news .newslist ul li span {
  line-height: 1.8em;
  font-size: 14px;
  color: #757575;
}
.contech {
  margin-top: 50px;
  background: #f6f6f6;
  width: 100%;
  height: 440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contech .inner {
  width: 1280px;
  margin: 0 auto;
}
.contech .title {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.contech .title a {
  color: #757575;
}
.contech ul {
  display: flex;
  justify-content: space-between;
}
.contech ul > li {
  position: relative;
  overflow: hidden;
  width: 280px;
  height: 250px;
}
.contech ul > li img {
  transform: scale(1);
  transition: 0.5s;
}
.contech ul > li:hover > img {
  transform: scale(1.2);
  transition: 0.5s;
}

.contech ul > li .before p {
  position: absolute;
  left: 0;
  bottom: 0;
  line-height: 12px;
  width: 260px;
  font-size: 17px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  z-index: 3;
  white-space: nowrap;
  padding: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.contech ul > li:hover .before p {
  width: 100%;
  padding-top: 200px;
}
.contech ul > li:hover .after p {
  position: absolute;
  text-align: center;
  font-size: 20px;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: pre-wrap;
  line-height: 30px;
  align-self: center;
}
.coninsta {
  margin-top: 50px;
  width: 1280px;
  height: 350px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.coninsta .title {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.coninsta .title a {
  color: #757575;
}
.coninsta ul {
  display: flex;
  justify-content: space-between;
}
.coninsta ul > li img {
  position: relative;
  overflow: hidden;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.blognow {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-top: 1px dashed #ccc;
}
.blognow .conblog .blog {
  width: 650px;
}
.blognow .title {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.blognow .title a {
  color: #757575;
}
.blognow .conblog .blog a img {
  width: 650px;
  height: 400px;
}
.blognow .conblog .blog a h2 {
  margin-top: 25px;
  margin-bottom: 20px;
}
.blognow .conblog .blog > a > p {
  line-height: 1.4em;
}
.blognow .connow .noroonow {
  width: 550px;
}
.blognow .connow .noroonow a img {
  width: 550px;
  height: 400px;
}
.blognow .connow .noroonow a h2 {
  margin-top: 25px;
  margin-bottom: 20px;
}
.conlast {
  margin-top: 50px;
  width: 100%;
  height: 550px;
  display: flex;
  background: #f6f6f6;
  align-items: center;
  justify-content: space-between;
}
.conlast .lastinner {
  width: 1280px;
  margin: 0 auto;
  align-items: center;
}
.conlast .lastinner > ul {
  width: 1280px;
  display: flex;
  justify-content: space-between;
}
.conlast .lastinner > ul > li {
  position: relative;
  overflow: hidden;
}
.conlast .lastinner > ul > li .overc {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  color: #fff;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.5s;
}
.conlast .lastinner > ul > li .overc p {
  font-weight: 900;
  color: #000;
}
.conlast .lastinner > ul > li .overc p span {
  font-weight: 900;
  font-size: 16px;
  color: #000;
}
.conlast .lastinner > ul > li .overc a {
  display: block;
  padding: 7px;
  background: rgba(0, 0, 0, 1);
  font-size: 14px;
  color: #fff;
  margin-top: 20px;
  opacity: 0;
  transition: 0.5s ease-in 0.2s;
}
.conlast .lastinner > ul > li .overc a:hover {
  background: red;
  color: #fff;
  transition: 0s;
}
.conlast .lastinner > ul > li .overc {
  background: rgba(255, 255, 255, 0);
}
.conlast .lastinner > ul > li:hover .overc {
  background: rgba(255, 255, 255, 0.4);
}
.conlast .lastinner > ul > li:hover a {
  opacity: 1;
}
.conlast .lastinner > ul > li .innerc {
  transform: translateY(10px);
  transition: 0.5s;
}
.conlast .lastinner ul li:hover .innerc {
  transform: translateY(-10px);
}
.conlast .lastinner > ul > li > img {
  transform: scale(1);
  transition: 0.5s;
}
.conlast .lastinner > ul > li:hover > img {
  transform: scale(1.2);
  transition: 0.5s;
}
footer {
  background: #2d2d2d;
  height: 200px;
}
footer .footer_top {
  width: 1280px;
  margin: 0 auto;
  line-height: 100px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}
footer .footer_top ul.left li a {
  color: #fff;
}
footer .footer_top ul.left {
  display: flex;
}
footer .footer_top ul.left li::after {
  content: "|";
  padding: 0 12px;
  color: #fff;
}
footer .footer_top ul.left li:last-child::after {
  content: "";
}
footer .footer_top ul.right {
  display: flex;
  justify-content: center;
}
footer .footer_top ul.right img {
  transform: translateY(30%);
}
footer .footer_top ul.right li {
  margin-right: 12px;
}
footer .footer_top ul.right li a {
  color: #fff;
}
footer .footer_top ul.right li:last-child a {
  margin-left: 20px;
  border: 1px solid #fff;
  padding: 6px 50px;
  color: #fff;
  background: rgba(255, 255, 255, 0.3);
}
footer .footer_info {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
footer .footer_infoleft {
  color: #f6f6f6;
  font-size: 13px;
  line-height: 1.4em;
  display: flex;
  width: 700px;
}
footer .footer_infoleft img {
  margin-right: 25px;
}
footer .footer_infoleft ul li:last-child {
  font-size: 13px;
  margin-top: 7px;
  color: #f6f6f6;
}
footer .footer_inforight img {
  margin-left: 10px;
}
