@charset "utf-8";

/* reset */
html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  color: #222;
  font-family: "NotoSans", "본고딕", Dotum, "돋움", Gulim, "굴림", Tahoma,
    Verdana, AppleGothic, UnDotum, Arial;
  -webkit-text-size-adjust: none;
}
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
select,
textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
}
th,
td,
input,
textarea,
select,
button {
  box-sizing: border-box;
  font-size: 1em;
  font-family: "NotoSans", "본고딕", Dotum, "돋움", Gulim, "굴림", Tahoma,
    Verdana, AppleGothic, UnDotum, Arial;
  -webkit-text-size-adjust: none;
}
th,
td {
  font-weight: 400 !important;
  word-break: break-all;
  word-wrap: break-word;
  -webkit-text-size-adjust: none;
}
table {
  font-size: 14px;
  border-spacing: 0;
  border-collapse: collapse;
  -webkit-text-size-adjust: none;
  border: 0;
  table-layout: fixed;
  box-sizing: border-box;
}
address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
  -webkit-text-size-adjust: none;
}
em {
  font-weight: inherit;
}
ol,
ul,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
abbr,
acronym {
  border: 0;
}
hr {
  clear: both;
  display: none;
}
legend,
caption {
  visibility: hidden;
  overflow: hidden;
  line-height: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  text-indent: -99999px;
  font-size: 0;
}
img,
fieldset {
  border: 0 none;
}

a {
  color: #333;
  box-sizing: border-box;
}
a:link,
a:visited,
a:hover {
  color: #333;
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
.hidden_obj {
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  height: 0;
  line-height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  font: 0/0 Arial;
}
input,
img {
  vertical-align: middle;
}
label {
  vertical-align: middle;
}

a,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
select,
textarea,
th,
td,
input,
textarea,
select,
button,
span,
strong,
em {
  line-height: 1em;
}
select {
  padding: 0 35px 0 15px;
  height: 40px;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  background: #fff url("../images/ico_arrowD_gray.png") no-repeat right center;
}
select::-ms-expand {
  display: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*skip */
#skip {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  list-style: none;
  font-size: 1.15em;
  top: -10.5em;
  left: 0;
  z-index: 999;
}
#skip a:focus,
#skip a:active {
  position: absolute;
  padding-top: 0.5em;
  width: 100%;
  height: 2em;
  top: 10.5em;
  z-index: 999;
  text-align: center;
  color: #fff;
  background: #333;
  overflow: visible;
  clip: unset;
}
