@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: helvetica, "notosanskr", "applesdgothicneo";
  font-size: 13px;
}
.wrap {
  width: 100%;
}
.top {
  background: #000;
  width: 100%;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top a {
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  padding: 6px 0px 5px;
}
header {
  height: 80px;
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;
}
header .top2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 40px;
  box-sizing: border-box;
}
header .top2 .nav > ul {
  display: flex;
  height: 40px;
  align-items: center;
  margin: 0 1em;
}
header .top2 .nav > ul > li {
  margin-right: 23px;
}
header .top2 .nav > ul > li:first-of-type,
header .top2 .nav > ul > li:nth-of-type(2) {
  position: relative;
}
header .top2 .nav > ul > li:first-of-type > ul,
header .top2 .nav > ul > li:nth-of-type(2) > ul {
  position: absolute;
  width: 160px;
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  transition: 0.3s;
  background: #fff;
}
header .top2 .nav > ul > li:first-of-type > ul a,
header .top2 .nav > ul > li:nth-of-type(2) > ul a {
  display: block;
  padding: 13px 20px;
  line-height: 18.5px;
  font-size: 12px;
  font-weight: 200;
  color: #212121;
}
header .top2 .nav > ul > li:first-of-type:hover ul,
header .top2 .nav > ul > li:nth-of-type(2):hover ul {
  visibility: visible;
  opacity: 1;
}
header .top2 .nav > ul > li:first-of-type > ul li,
header .top2 .nav > ul > li:nth-of-type(2) > ul li {
  transition: 0.3s;
}
header .top2 .nav > ul > li:first-of-type > ul li:hover,
header .top2 .nav > ul > li:nth-of-type(2) > ul li:hover {
  background: #000;
}
header .top2 .nav > ul > li:first-of-type > ul li:hover a,
header .top2 .nav > ul > li:nth-of-type(2) > ul li:hover a {
  color: #fff;
}
header .top2 .nav > ul > li:last-child {
  margin-right: 0;
}
header .top2 .nav > ul > li a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
header .top2 .nav > ul > li > ul {
  display: flex;
  flex-direction: column;
}
header .top2 i {
  display: none;
}
header .top2 .forcenter .logo img {
  width: 61px;
  height: 40px;
}
header .top2 .forcenter {
  display: flex;
  width: calc(50% + (61px / 2));
  justify-content: space-between;
}
header .top2 .join > a,
header .top2 .join #bag {
  display: none;
}
header .top2 .join > ul {
  display: flex;
  margin: 0 1em;
  align-items: center;
  height: 40px;
}
header .top2 .join > ul > li {
  margin-right: 23px;
}
header .top2 .join > ul > li:last-child {
  margin-right: 0;
}
header .top2 .join > ul > li a {
  font-size: 14px;
}
.visual .main {
  height: 700px;
}
.visual video {
  width: 100%;
  height: 700px;
  object-fit: cover;
}
.visual .bg_gray {
  background: url(../images/bg_gray.jpg) right top/cover no-repeat;
  width: 100%;
  height: 200px;
}
.visual .bg {
  width: 100%;
  height: 546px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../images/story_bg_pc.png) no-repeat center/cover;
  position: relative;
}
.visual .bg .blend {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #363636;
  opacity: 0.5;
}
.visual .bg h2 {
  text-align: center;
  line-height: 60px;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-weight: lighter;
  color: #ffffff;
  padding: 20px;
  z-index: 1;
}
.visual .bg p {
  font-size: 23px;
  color: #fff;
  font-weight: 200;
  z-index: 1;
  margin-top: 10px;
}
.container {
  width: 100%;
  /* background: #ebebeb; */
}
.container .container_product {
  width: 100%;
}
.container .container_product .product {
  display: flex;
  width: 100%;
}
.container .container_product .product > div {
  /* display: flex;
  flex-direction: column; */
  width: 50%;
}

.container .container_product .product .pd_image img {
  width: 100%;
  height: 1000px;
  object-fit: cover;
  object-position: center;
}
.container .container_product .product .pd_left .pd_image:last-child img {
  height: 700px;
}
.container .container_product .product .pd_right .pd_desc:last-child {
  /* height: 1000px; */
}
.container .container_product .product .pd_desc {
  width: 100%;
  height: 600px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.container .container_product .product .pd_desc .desc_logo {
  width: 65px;
  object-fit: contain;
  margin: 0 auto 40px;
}
.container .container_product .product .pd_desc p {
  line-height: 25px;
  font-size: 14px;
}
.container .maininstagram {
  width: 1280px;
  height: 1280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px 0 100px;
}
.container .maininstagram div.insta {
  width: calc(33.333% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
}
.container .maininstagram div.insta:hover .instabox {
  opacity: 0.8;
}
.container .maininstagram div.insta a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .maininstagram div.insta a .instabox {
  width: 100%;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 20px;
  opacity: 0;
}
.container .maininstagram div.insta .instabox span {
  padding: 20px;
  font-size: 12px;
  color: #fff;
}
.container .mapbox {
  position: relative;
  width: 100%;
  height: 500px;
  padding: 0 0 225px;
  background: url(../images/bg_map.jpg) no-repeat 50% 50%;
  background-attachment: fixed;
}
.container .mapbox .bg_color {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.container .mapbox .bg_index {
  position: relative;
  z-index: 2;
  text-align: center;
}
.container .mapbox .bg_index h2 {
  padding: 220px 0 80px;
}
.container .mapbox .bg_index img {
  height: 230px;
}
.container .mapbox .bg_index ul {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  font-size: 0;
  line-height: 0;
}
.container .mapbox .bg_index ul li {
  display: inline-block;
  width: 25%;
}
.container .mapbox .bg_index ul li:first-child a {
  color: #fff;
  background: transparent;
}
.container .mapbox .bg_index ul li a {
  display: block;
  padding: 16px 0;
  border: 1px solid #fff;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  background: #fff;
  box-sizing: border-box;
}
.wrap footer {
  width: 100%;
  padding: 0 15px 80px;
  box-sizing: border-box;
  text-align: center;
}
.wrap footer h2 {
  padding: 80px 0 70px;
}
.wrap footer h2 img {
  height: 40px;
}
.wrap footer .footer_inner .footer_flex_spacebetween {
  display: flex;
  justify-content: space-between;
}
.wrap footer .footer_inner .info_address {
  text-align: left;
  font-size: 8px;
  line-height: 1.2;
}
.wrap footer .footer_inner .info_address span:first-child {
  padding-top: 7px;
}
.wrap footer .footer_inner .info_address span {
  display: block;
  padding: 10px 0 0;
}
.wrap footer .footer_inner .info_customer {
  text-align: right;
  font-size: 8px;
}
.wrap footer .footer_inner .info_customer .copyright {
  padding: 8px 0 0;
}
.wrap footer .footer_inner .info_customer ul {
  padding: 8px 0 0;
  display: flex;
}
.wrap footer .footer_inner .info_customer ul li span {
  padding: 0 4px;
}
.wrap footer .footer_inner .info_customer .sns a i {
  font-size: 16px;
  padding: 8px 0 0;
}
/* #totop.show {
  opacity: 1;
  visibility: visible;
} */
.wrap #totop {
  display: inline-block;
  position: fixed;
  right: 10px;
  bottom: 15px;
  width: 30px;
  height: 30px;
  padding: 10px;
  z-index: 999;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  /* opacity: 0; */
  text-align: center;
  /* visibility: hidden; */
}
#totop img {
  width: 100%;
  height: auto;
  display: block;
}
@media screen and (max-width: 1023px) {
  .wrap header .nav {
    display: none;
  }
  header .top2 #nav_bars {
    display: block;
    line-height: 2.4;
    font-size: 16px;
  }
  header .top2 .forcenter .join ul {
    display: none;
  }
  header .top2 .forcenter .join > a,
  header .top2 .forcenter .join #bag {
    display: inline-block;
    font-size: 17px;
    margin-left: 20px;
    line-height: 2.4;
  }
}
