@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@100;300;400;500;600;700&display=swap");

/* ****************** LAYOUT ********************** */
::selection {
  background: #555;
  color: #fff;
}
::-moz-selection {
  background: #555;
  color: #fff;
}
body,
table,
th,
td,
button,
select,
input,
textarea {
  font-family: "Cairo", "Noto Sans KR", "나눔고딕", NanumGothic, "Nanum Gothic",
    "돋움", Dotum, Arial, sans-serif;
  font-size: 13px;
  color: #666;
  -webkit-text-size-adjust: none;
  word-break: keep-all;
}
body {
  background-color: #fff;
}
table,
th,
td {
  word-break: break-word;
}
#wrap {
  overflow: hidden;
  width: 100%;
  min-width: 320px;
  position: relative;
}
.area {
  max-width: 1300px;
  margin: 0px auto;
} /* width 홈페이지 컨텐츠 가로값에 맞게 변경 */
.area-box {
  max-width: 1600px;
  margin: 0px auto;
}

/* Fullpage Layout */
.fullpage-html {
  overflow: hidden;
  height: 100%;
}
.fullpage-html #wrap {
  position: static;
}

/* ****************** HEADER ********************** */
#header {
  position: relative;
  position: fixed;
  height: 142px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  transition: all 0.3s;
}
#headerInnerWrap {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
#headerInner {
  position: relative;
  height: 100%;
  margin: 0px auto;
  padding: 0 100px;
}
#header .logo {
  position: relative;
  z-index: 100;
  float: left;
  padding-top: 48.5px;
  transition: padding-top 0.3s;
}
#header .logo a {
  display: block;
  position: relative;
}
#header .logo img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
#header .logo .default {
  opacity: 1;
}
#header .logo .color {
  opacity: 0;
}
/* open */
#header.gnb-open .logo .default {
  opacity: 0;
}
#header.gnb-open .logo .color {
  opacity: 1;
}
#header.gnb-open {
  top: 0;
}
/* sub-wrap */
.sub-wrap #header {
  position: relative;
  top: 0;
}
.sub-wrap #header .logo .default {
  opacity: 0;
}
.sub-wrap #header .logo .color {
  opacity: 1;
}
/* fullpage */
.fullpage-html #header {
  position: fixed;
}
@media all and (min-width: 1025px) {
  /* fixed */
  #header.top-fixed {
    height: 100px;
  }
  #header.top-fixed #headerInnerWrap {
    height: 100px;
    background-color: #fff;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.02);
  }
  #header.top-fixed .logo {
    padding-top: 27.5px;
  }
  #header.top-fixed .logo .default {
    opacity: 0;
  }
  #header.top-fixed .logo .color {
    opacity: 1;
  }
  #header.top-fixed {
    top: 0;
  }
  .sub-wrap #header.top-fixed #headerInnerWrap {
    position: fixed;
  }
}

/* -------- Header :: UTIL BOX -------- */
.header-util-box {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 130px;
  margin-top: -15px;
  z-index: 100;
}
/* Header :: 언어선택 */
.header-lang {
  position: relative;
  height: 30px;
  z-index: 100;
}
.header-lang .lang-open-btn {
  overflow: hidden;
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
  height: 100%;
  padding: 0 21px 0 10px;
  font-size: 13px;
  line-height: 30px;
  color: #fff;
}
.header-lang .lang-open-btn .arrow {
  position: absolute;
  top: 3px;
  right: 0px;
}
.header-lang .lang-open-btn .arrow i {
  font-size: 16px;
}
.header-lang > ul {
  display: none;
  position: absolute;
  top: 30px;
  left: -1px;
  z-index: 10;
  width: 100%;
}
.header-lang > ul > li {
  margin-top: 3px;
  text-align: center;
}
.header-lang > ul > li:first-child {
  margin-top: 0;
}
.header-lang > ul > li > a {
  display: block;
  font-size: 13px;
  line-height: 25px;
  color: #000;
  background-color: #fff;
  border-radius: 50px;
  transition: all 0.3s;
  border: 1px solid #b0b0b0;
  box-sizing: border-box;
}
.header-lang > ul > li > a:hover {
  background-color: #000;
  color: #fff;
  border-color: #000;
}
.header-lang.open .lang-open-btn .arrow i {
  transform: rotate(180deg);
  margin-top: -3px;
}
/* black.ver */
#header.top-fixed .header-lang .lang-open-btn,
#header.gnb-open .header-lang .lang-open-btn,
.sub-wrap #header .header-lang .lang-open-btn {
  color: #000;
}

/* Header :: 사이트맵버튼 */
.sitemap-line-btn {
  position: relative;
  width: 24px;
  height: 24px;
  margin-left: 30px;
  box-sizing: border-box;
}
.sitemap-line-btn img {
  position: absolute;
  top: 0;
  left: 0;
}
.sitemap-line-btn .black {
  opacity: 0;
}
/* black.ver */
.sub-wrap #header .sitemap-open-btn .black,
#header.top-fixed .sitemap-open-btn .black,
#header.gnb-open .sitemap-open-btn .black {
  opacity: 1;
}
.sub-wrap #header .sitemap-open-btn .white,
#header.top-fixed .sitemap-open-btn .white,
#header.gnb-open .sitemap-open-btn .white {
  opacity: 0;
}

/* -------- Header :: GNB(PC) -------- */
.gnb-overlay-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  filter: Alpha(opacity=0);
  background: rgba(0, 0, 0, 0.5);
  z-index: 9997;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
} /* gnb overlay BG */
.gnb-overlay-bg.open {
  visibility: visible;
  opacity: 1;
  filter: Alpha(opacity=100);
}
#gnb {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0px;
  width: 100%;
  z-index: 99;
}
#gnb > ul {
  display: inline-block;
}
#gnb > ul > li {
  position: relative;
  float: left;
  word-break: keep-all;
}
#gnb > ul > li > a {
  position: relative;
  z-index: 100;
  display: block;
  line-height: 142px;
  padding: 0 50px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  letter-spacing: -0.55px;
  font-weight: 500;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#gnb > ul > li > a:hover,
#gnb > ul > li > a:focus,
#gnb > ul > li.on > a {
  color: #bf1e2e;
}
#gnb.open > ul > li > a {
  line-height: 120px;
}

/* GNB :: 2차 전체메뉴 */
#gnbBg {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: -22.5px;
  width: 100%;
  height: 0;
  background: #fff url("../images/gnb_bg.jpg") no-repeat center bottom;
  z-index: 98;
  opacity: 0;
  filter: Alpha(opacity=0);
  -webkit-transition: height 0.3s ease-in-out, opacity 0.2s ease-in-out;
  transition: height 0.3s ease-in-out, opacity 0.2s ease-in-out;
}
#gnb.total-menu > ul > li .gnb-2dep {
  position: absolute;
  top: 120px;
  left: 0px;
  z-index: 99;
  width: 100%;
  text-align: left;
  opacity: 0;
  filter: Alpha(opacity=0);
  height: 0;
  -webkit-transition: all 0.2s 0s;
  transition: all 0.2s 0s;
  visibility: hidden;
}
#gnb.total-menu > ul > li .gnb-2dep ul {
  padding: 0 0px;
}
#gnb.total-menu > ul > li .gnb-2dep ul li {
  position: relative;
}
#gnb.total-menu > ul > li .gnb-2dep ul li a {
  display: block;
  text-align: center;
  padding: 7px 15px;
  color: #939393;
  font-size: 16px;
  letter-spacing: -0.5px;
  font-weight: 300;
  line-height: 1.3;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
#gnb.total-menu > ul > li .gnb-2dep ul li.active a,
#gnb.total-menu > ul > li .gnb-2dep ul li a:hover {
  color: #bf1e2e;
  font-weight: 700;
}
#gnb > ul > li:nth-child(4) .gnb-2dep ul li a,
#gnb > ul > li:nth-child(5) .gnb-2dep ul li a {
  font-weight: 400;
}

/* GNB :: 2차메뉴 Over (높이변경) */
#gnb.open #gnbBg {
  height: 427.5px;
  opacity: 1;
  filter: Alpha(opacity=100);
}
#gnb.open > ul > li .gnb-2dep {
  height: 250px;
  opacity: 1;
  filter: Alpha(opacity=100);
  visibility: visible;
  -webkit-transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out 0.2s;
  transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out 0.2s;
}

/* over했을때 */
#gnb > ul > li .gnb-2dep.open ul li {
  opacity: 1;
  filter: Alpha(opacity=100);
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}
#gnb > ul > li .gnb-2dep.open ul li:nth-child(1) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
#gnb > ul > li .gnb-2dep.open ul li:nth-child(2) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
#gnb > ul > li .gnb-2dep.open ul li:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
#gnb > ul > li .gnb-2dep.open ul li:nth-child(4) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
#gnb > ul > li .gnb-2dep.open ul li:nth-child(5) {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
#gnb > ul > li .gnb-2dep.open ul li:nth-child(6) {
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
#gnb > ul > li .gnb-2dep.open ul li:nth-child(7) {
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
#gnb > ul > li .gnb-2dep.open ul li:nth-child(8) {
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

/* black.ver */
#header.gnb-open #gnb > ul > li > a,
#header.top-fixed #gnb > ul > li > a,
.sub-wrap #header #gnb > ul > li > a {
  color: #000;
  font-weight: 700;
}

#header.top-fixed #gnb > ul > li > a {
  line-height: 100px;
}
#header.top-fixed #gnb.total-menu > ul > li .gnb-2dep {
  top: 100px;
}
#header.top-fixed #gnb.open #gnbBg {
  height: 405.5px;
}

/* -------- Header :: GNB(Mobile) -------- */
.nav-open-btn {
  display: none;
}
#gnbM {
  display: none;
}

/* ****************** SUB LAYOUT ********************** */
#container {
  padding-top: 28px;
}
/* SUB LAYOUT :: 위치정보(location) */
.location {
  margin-bottom: 38px;
}
.location li {
  display: inline-block;
  vertical-align: middle;
  color: #6c6c6c;
  font-size: 15px;
  letter-spacing: -0.5px;
}
.location li a {
  color: inherit;
}
.location li i {
  width: 40px;
  height: 40px;
  background-color: #bf1e2e;
  border-radius: 50%;
  font-size: 18px;
  line-height: 39px;
  text-align: center;
  color: #fff;
}
.location li:before {
  font-family: "xeicon";
  display: inline-block;
  content: "\e93f";
  position: relative;
  top: -1px;
  vertical-align: middle;
  margin: 0px 20px 0 18px;
  color: #6c6c6c;
  font-size: 15px;
}
.location li:first-child:before {
  display: none;
}
.location li:last-child {
  color: #000;
  font-weight: 700;
}
.location li:last-child:before {
  font-weight: 400;
}

/*  SUB LAYOUT :: 상단정보 (공통) */
#contentInfoCon {
  position: relative;
  margin: 0 auto 44px;
}
#contentInfoCon .content-tit {
  color: #000;
  font-size: 60px;
  font-weight: 700;
}

/*  SUB LAYOUT :: 서브메뉴(스타일1) */
#topMenu01 {
  position: relative;
  width: 100%;
}
#topMenu01 .side-menu-inner {
  width: 100%;
  background-color: #fff;
}
#topMenu01 .side-menu-inner ul {
  display: flex;
  align-items: center;
}
#topMenu01 .side-menu-inner ul li {
  float: left;
  padding: 0 32px;
}
#topMenu01 .side-menu-inner ul li:first-child {
  padding-left: 0;
}
#topMenu01 .side-menu-inner ul li > a {
  display: block;
  display: table;
  position: relative;
  width: 100%;
  padding-bottom: 16px;
  line-height: 1.2;
  color: #6c6c6c;
  font-size: 18px;
  letter-spacing: -0.5px;
  font-weight: 300;
  word-break: keep-all;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
#topMenu01 .side-menu-inner ul li > a:before {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: #bf1e2e;
  content: "";
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
#topMenu01 .side-menu-inner ul li > a > span {
  display: table-cell;
  vertical-align: middle;
}
#topMenu01 .side-menu-inner ul li > a:hover,
#topMenu01 .side-menu-inner ul li.on > a {
  color: #bf1e2e;
  font-weight: 700;
}
#topMenu01 .side-menu-inner ul li > a:hover:before,
#topMenu01 .side-menu-inner ul li.on > a:before {
  width: 100%;
  margin-left: -50%;
}

.middle-area-contact #contentInfoCon,
.middle-area-news #contentInfoCon {
  margin-bottom: 0;
}
.middle-area-contact #topMenu01,
.middle-area-contact #topMenuM02,
.middle-area-news #topMenu01,
.middle-area-news #topMenuM02 {
  display: none !important;
}

/* SUB LAYOUT :: 서브메뉴 Fixed (공통) */
@media all and (min-width: 1025px) {
  .fixed-sub-menu.top-fixed .side-menu-inner {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
  }
}

/* SUB LAYOUT :: 모바일메뉴(공통)  */
#topMenuM01,
#topMenuM02 {
  display: none;
}

/*  SUB LAYOUT :: 컨텐츠 레이아웃 */
#content {
  font-size: 16px;
}
#content:not(.wide) {
  padding: 110px 0;
}
#content.wide {
  padding: 110px 0 0 0;
}

/* ****************** 사이트맵 ********************** */
/* -------- 사이트맵 02 -------- */
/* 사이트맵 02 :: Layout */
#sitemapContent {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  filter: Alpha(opacity=0);
  visibility: hidden;
  z-index: -1;
  -webkit-transition: all 0.3s 0.5s;
  transition: all 0.3s 0.5s;
}
#sitemapInnerCon {
  height: 100%;
  padding-top: 120px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sitemap-wrapper {
  height: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.sitemap-wrapper-inner {
  display: flex;
  height: 100%;
}
#sitemapContent .mCSB_inside > .mCSB_container {
  margin-right: 0;
}
/* 사이트맵 open */
#sitemapContent.open {
  opacity: 1;
  filter: Alpha(opacity=100);
  visibility: visible;
  z-index: 99999;
  background-color: #252525;
  -webkit-transition: all 0.3s 0s;
  transition: all 0.3s 0s;
}
/* 사이트맵 상단 */
.sitemap-top-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
}
.sitemap-top-box .area-box {
  height: 100%;
}
.sitemap-top-box .inner {
  position: relative;
  height: 100%;
}
.sitemap-logo {
  position: absolute;
  left: 0;
  top: 37.5px;
}
.sitemap-top-unit {
  position: absolute;
  right: 0;
  top: 39.5px;
  display: flex;
  align-items: center;
}
.sitemap-lang {
  display: flex;
  align-items: center;
  margin-right: 46px;
}
.sitemap-lang li {
  padding: 0 10px;
}
.sitemap-lang li a {
  font-size: 15px;
  color: #707070;
  transition: all 0.3s;
}
.sitemap-lang li.cur a,
.sitemap-lang li a:hover {
  color: #fff;
  font-weight: 700;
}

/* 사이트맵 메뉴 */
.sitemap-wrapper .sitemap-box {
  width: 66.25%;
  padding-top: 130px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.sitemap-wrapper .sitemap-box h2 {
  display: inline-block;
  font-size: 60px;
  font-weight: 300;
  color: #707070;
  letter-spacing: -0.25px;
  transition: font-weight 0.3s, color 0.3s;
  cursor: pointer;
}
.sitemap-wrapper .sitemap-list > li {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 42px;
}
.sitemap-wrapper .sitemap-list > li:before {
  content: "";
  position: absolute;
  right: 100%;
  margin-right: 20px;
  top: 50%;
  margin-top: -7.5px;
  font-size: 15px;
  color: #fff;
  font-weight: 300;
  opacity: 0;
  transition: opacity 0.4s;
}
.sitemap-wrapper .sitemap-list > li:nth-child(1):before {
  content: "01";
}
.sitemap-wrapper .sitemap-list > li:nth-child(2):before {
  content: "02";
}
.sitemap-wrapper .sitemap-list > li:nth-child(3):before {
  content: "03";
}
.sitemap-wrapper .sitemap-list > li:nth-child(4):before {
  content: "04";
}
.sitemap-wrapper .sitemap-list > li:nth-child(5):before {
  content: "05";
}
.sitemap-wrapper .sitemap-list > li:first-child {
  margin-top: 0;
}
.sitemap-wrapper .sitemap-2dep {
  display: none;
}
.sitemap-wrapper .sitemap-2dep ul {
  display: flex;
  align-items: center;
  padding-left: 40px;
}
.sitemap-wrapper .sitemap-2dep li {
  margin-left: 20px;
}
.sitemap-wrapper .sitemap-2dep li:first-child {
  margin-left: 0;
}
.sitemap-wrapper .sitemap-2dep li a {
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  font-weight: 300;
  letter-spacing: -0.5px;
}
.sitemap-wrapper .sitemap-list > li.on:before {
  opacity: 1;
}
.sitemap-wrapper .sitemap-list > li.on h2 {
  font-weight: 700;
  color: #bf1e2e;
}
.sitemap-wrapper .sns-list {
  margin-top: 70px;
  padding-bottom: 50px;
}
.sitemap-wrapper .sns-list a {
  font-size: 26px;
  color: #fff;
}

/* 사이트맵 뉴스 */
.sitemap-wrapper .news-box {
  width: 33.75%;
  padding-top: 130px;
  padding-left: 140px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sitemap-wrapper .news-box .tit-box {
  position: relative;
}
.sitemap-wrapper .news-box .tit-box .tit {
  font-size: 48px;
  font-weight: 300;
  color: #fff;
}
.sitemap-wrapper .news-box .arrow-box {
  position: absolute;
  right: -11px;
  top: 50%;
  transform: translateY(-50%);
}
.sitemap-wrapper .news-box .arrow-box .slick-arrow {
  color: #fff;
  font-size: 30px;
}
.sitemap-wrapper .news-box .arrow-box .slick-prev {
  margin-right: 1px;
}
.sitemap-wrapper .news-box .con-box {
  margin-top: 40px;
  text-align: center;
}
.sitemap-news-list .img-wrap {
  display: block;
  position: relative;
  padding-top: 75.5%;
}
.sitemap-news-list .tit {
  font-size: 22px;
  letter-spacing: -0.65px;
  color: #fff;
  font-weight: 300;
  display: block;
  margin-top: 27px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sitemap-news-list .date {
  font-size: 15px;
  color: #939393;
  display: inline-block;
  margin-top: 15px;
}
.sitemap-news-list .slick-dots {
  margin-top: 60px;
}
.sitemap-news-list .slick-dots li {
  display: inline-block;
  margin: 0 24px;
}
.sitemap-news-list .slick-dots li button {
  position: relative;
  font-size: 0;
  width: 10px;
  height: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sitemap-news-list .slick-dots li button:before {
  content: "";
  width: 40px;
  height: 40px;
  background-color: rgba(191, 30, 46, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -20px;
  border-radius: 50%;
  opacity: 0;
}
.sitemap-news-list .slick-dots li.slick-active button {
  background-color: #bf1e2e;
  border-color: #bf1e2e;
}
.sitemap-news-list .slick-dots li.slick-active button:before {
  opacity: 1;
}

@media all and (max-width: 1920px) {
  /* 사이트맵 뉴스 */
  .sitemap-wrapper .news-box {
    padding-left: 7.2917vw;
  }
}
@media all and (max-width: 1680px) {
  /* 사이트맵 메뉴 */
  .sitemap-list {
    padding-left: 37px;
  }
}
@media all and (max-width: 1366px) {
  /* 사이트맵 메뉴 */
  .sitemap-list li:nth-child(2) .sitemap-2dep ul {
    flex-wrap: wrap;
  }
  .sitemap-list li:nth-child(2) .sitemap-2dep li {
    width: 50%;
    margin: 5px 0;
  }
  /* 사이트맵 뉴스 */
  .sitemap-wrapper .news-box {
    padding-left: 30px;
  }
}
