@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #2d2d2d;
}
body {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}
.top {
  width: 100%;
  min-width: 1280px;
}
.top .topmenu {
  width: 1280px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top .topmenu ul {
  display: flex;
  align-items: center;
  margin-left: 14px;
}
.top .topmenu ul.left li:first-child {
  margin-top: 30px;
}
.top .topmenu ul.right {
  margin-top: 20px;
  height: 50px;
}
.top .topmenu ul li {
  margin-left: 20px;
}
.right li:first-child {
  position: relative;
}
.search {
  display: flex;
  border-bottom: 2px solid #2d2d2d;
}
:focus {
  outline: none;
}
.search img {
  vertical-align: middle;
}
.top input {
  width: 180px;
  border: none;
  padding: 5px;
  background: none;
}
.top select {
  padding: 5px 10px;
  font-size: 16px;
  color: #2d2d2d;
}
.top ul.left .logo {
  position: relative;
}
.top .right select {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
nav {
  margin-top: 20px;
  position: relative;
  z-index: 999;
}
nav > ul {
  display: flex;
  justify-content: space-between;
  width: 1280px;
  margin: 0 auto;
  z-index: 999;
}
nav > ul > li {
  position: relative;
  width: calc(100% / 7);
  margin-left: 50px;
  line-height: 35px;
}
nav ul.sub {
  font-size: 14px;
  line-height: 30px;
}
nav ul.sub a {
  color: rgb(131, 131, 131);
}
nav > ul > li > a {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 60px;
  width: 100%;
}
nav > ul > li > ul > li a:hover {
  font-weight: 800;
}

nav > ul > li:hover > a {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
}
nav > ul > li > ul {
  position: absolute;
  margin-top: 16px;
  z-index: 1;
  height: 0;
  overflow: hidden;
  top: 50px;
  width: 100%;
  transition: height 0.5s;
}
nav:hover > ul > li > ul {
  height: 410px;
}
nav > ul > li a span {
  font-size: 13px;
  letter-spacing: -1px;
  color: rgb(131, 131, 131);
}
nav .bg {
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  height: 0;
  background: #fff;
  transition: height 0.5s;
}
nav:hover .bg {
  width: 100%;
  height: 440px;
  border-bottom: 1px solid #ccc;
}

.slide {
  margin: 0 auto;
  width: 100%;
  height: 320px;
  background: url(../images/noroo70years.png) no-repeat;
  background-position: center 30%;
  background-size: cover;
}
.page {
  display: flex;
  position: relative;
  top: 40px;
  width: 1280px;
  margin: 0 auto;
}
.page .leftnav p,
.page .rightwrap p {
  line-height: 60px;
  font-weight: 500;
  font-size: 18px;
}
.page .leftnav {
  margin-bottom: 50px;
}
.page .leftnav .pline {
  width: 170px;
  height: 1px;
  background: #ccc;
  margin-bottom: 50px;
}
.page .leftnav .pline.end {
  width: 170px;
  height: 1px;
  background: #ccc;
  margin-top: 50px;
}
.page .leftnav ul {
  line-height: 35px;
  font-size: 16px;
}
.page .leftnav ul.sub a:hover {
  color: #e31a2c;
  font-weight: 500;
}
.page .leftnav ul li a:focus::before {
  content: "-   ";
  font-weight: 500;
}
.page .leftnav ul li a:hover .page .right ul {
  position: absolute;
  top: 21px;
  display: flex;
}
.page .right {
  margin-left: 100px;
}
.page .right .rightwrap ul {
  display: flex;
  position: absolute;
  top: 21px;
  left: 1085px;
}
.page .right .rightwrap ul > li > a {
  font-size: 13px;
  color: #757575;
}
.page .right .rightwrap ul > li::before {
  content: "|";
  font-size: 12px;
  padding: 0 10px;
  color: #757575;
}
.page .right ul li:first-child::before {
  content: none;
}
.page .right .pline {
  width: 1000px;
  height: 1px;
  background: #ccc;
  margin-bottom: 60px;
}
.page .right .rightwrap {
  display: flex;
}
.page .right .rightwrap .tabcon h3 {
  margin-bottom: 20px;
}
.page .right .rightwrap p:first-child {
  margin-right: 30px;
}
.page .right .rightwrap .nsds a {
  font-size: 15px;
  font-weight: 900;
  padding: 5px 15px;
  color: #e31a2c;
}
.page .right .rightwrap .nsds a::after {
  border: 2px;
  border-bottom: #2d2d2d;
}
.page .right .rightwrap .yearli a {
  font-size: 15px;
  padding: 5px 15px;
}

/*μ—°ν*/
.page .right #tabcon2 {
  margin-top: 70px;
  display: flex;
}
.page .right #tabcon2 .tabwrap {
  /* width: 1000px; */
  display: flex;
  flex-wrap: wrap;
}

.page .right #tabcon2 .tabwrap .tabright .ygroup {
  font-size: 22px;
  font-weight: 600;
  width: 210px;
}
.page .right #tabcon2 .tabwrap .tabright .year {
  margin-left: 70px;
  margin-right: 20px;
  margin-top: 5px;
  font-size: 18px;
  font-weight: 600;
  width: 80px;
}
.page .right #tabcon2 .tabwrap .tabright::before {
  content: "";
  height: 3340px;
  width: 4px;
  border-radius: 6px;
  position: absolute;
  top: 140px;
  left: 437px;
  background: linear-gradient(to bottom, #cccccc1a, #ccc);
}

.page .right #tabcon2 .tabwrap .tabright li > ul::after {
  content: "";
  width: 18px;
  height: 18px;
  background-color: #fff;
  border: 5px solid #a6ce38;
  position: absolute;
  top: 2px;
  left: -220px;
  box-sizing: border-box;
  border-radius: 100%;
  z-index: 10;
}
.page .right #tabcon2 .tabwrap .tabright ul {
  position: relative;
  list-style: disc;
  /* left: 300px; */
  margin-bottom: 70px;
}
.page .right #tabcon2 .tabwrap .tabright > li {
  list-style: none;
  display: flex;
}
.page .right #tabcon2 .tabwrap .tabright ul li {
  line-height: 1.9em;
}
.page .right #tabcon p {
  line-height: 1.6em;
  margin-bottom: 40px;
}
.page .right #tabcon img {
  width: 1000px;
  height: 500px;
  margin-bottom: 50px;
  object-fit: cover;
}
.page .right #tabcon .tit_list {
  position: relative;
  list-style: disc;
  margin-left: 50px;
  margin-top: -25px;
  margin-bottom: 50px;
  line-height: 1.6em;
  font-size: 15px;
}
/*ν‘Έν„°*/
/* footer {
  background: #2d2d2d;
  height: 200px;
}
footer .footer_top {
  width: 1280px;
  margin: 0 auto;
  line-height: 100px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}
footer .footer_top ul.left li a {
  color: #fff;
}
footer .footer_top ul.left {
  display: flex;
}
footer .footer_top ul.left li::after {
  content: "|";
  padding: 0 12px;
  color: #fff;
}
footer .footer_top ul.left li:last-child::after {
  content: "";
}
footer .footer_top ul.right {
  display: flex;
  justify-content: center;
}
footer .footer_top ul.right img {
  transform: translateY(30%);
}
footer .footer_top ul.right li {
  margin-right: 12px;
}
footer .footer_top ul.right li a {
  color: #fff;
}
footer .footer_top ul.right li:last-child a {
  margin-left: 20px;
  border: 1px solid #fff;
  padding: 6px 50px;
  color: #fff;
  background: rgba(255, 255, 255, 0.3);
}
footer .footer_info {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
footer .footer_infoleft {
  color: #f6f6f6;
  font-size: 13px;
  line-height: 1.4em;
  display: flex;
  width: 700px;
}
footer .footer_infoleft img {
  margin-right: 25px;
}
footer .footer_infoleft ul li:last-child {
  font-size: 13px;
  margin-top: 7px;
  color: #f6f6f6;
}
footer .footer_inforight img {
  margin-left: 10px;
} */
